<h1> Create User </h1>
<form action='/create_user' method ="POST">
  <label>Email: <input type="text" name="user[email]" placeholder="email" required></label>
  <br>
  <label>Password: <input type="password" name="user[password]" placeholder="password" required></label>
  <br>
  <label>Confirm Password: <input type="password" name="user[password_confirmation]" placeholder="confirm password" required></label>
  <br>
  <input type="submit" value="Create Account">
</form>